body {
    background: #f5f5f5;
}

h1 {
    padding: 0;
    margin: 0;
    font-size: 16px;
}

.content {
    max-width: 1000px;
    margin: 0 auto;
}

.news {
    border: 1px solid #ccc;
    padding: 20px;
    margin: 15px 0;
    border-radius: 15px;
}

.item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
